main.content img {
    width: 100%;
    height: auto;
    margin-top: 12px;
    margin-bottom:24px;
}

div.example-frame svg {
    width: 100%;
    background-color: white;
}

pre.example-code {
    padding: 0;
}

div.example-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.example-input > label {
    font-size: var(--header3-font-size);
    
}    

div.example-input > input {
    padding: 12px;
}

div.symbol {
    display: flex;
    align-items: center;
}

div.symbol svg {
    background-color: white;
    margin: 12px;
}

footer.example-frame-footer {
    text-align: left;
    padding-bottom: 12px;
}
